// ==============================================================header
.header{
min-height: 100vh;
background-image: url("../images/main-1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
@media only screen and (min-width:1800px){
  height: 70vh;
  min-height: 70vh;
}
}
.address-bar{
    background-color: #000000bb;
    padding: 15px 0px;
    color: $light-text;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;

    @media only screen and (max-width:991px){
        display: none;
    }
}
.navbar{
    @media only screen and (max-width:991px){
        background-color: #000000c5;
    }
}
.logo{
   height: 80px;
   @media only screen and (max-width:767px){
      
    height: 50px;
}
}
.nav-item-nav{
    margin: 0px 10px;
    @media only screen and (max-width:991px){
        margin: 10px 10px;
    }
}

.nav-item-nav .nav-link{
 color: white ;
 font-size: 18px;
 font-weight: 500;
 line-height: 10px;
}
.nav-item-nav .nav-link:hover{
    color: $primary !important;
 }
 .nav-item-nav .active-nav{
    border-bottom: 2px solid $primary;
    color: $primary !important;
 }
 .navbar-collapse{
    @media only screen and (max-width:991px){
        position: absolute;
        background-color: #000000c5;
        top: 70px !important;
        left: 0;
        right: 0;
        padding: 10px !important;
    }
 }
 .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}
 .header-text{
    height: calc( 100vh - 200px );

    @media only screen and (max-width:767px){
      
            height: calc( 100vh - 90px )
    }
    @media only screen and (min-width:1800px){
        height: calc( 70vh - 200px );
      }


 }

 .header-text br{

    @media only screen and (max-width:767px){
      
            display: none;
    }

    
 }
 .go-bottom{
    background-color: rgba(255, 255, 255, 0.364);
    font-size: 50px;
    color: $primary;
    line-height: 30px;
    border-radius: 100%;
    padding: 7px;
 }

//  ==============================================================================modren section
.modern-img-1{
    max-height: 400px;
    width: 65%;
    object-fit: contain;
}
.modern-img-2{
    max-height: 400px;
    margin-top: -200px;
    width: 55% !important;
    margin-left: 50px !important;

    @media only screen and (max-width:500px){
        margin-top: -120px;
        margin-left: 0px !important;
    }
}
.modern-img-3{
    width: 50%;
    min-height: 450px;
    max-height: 500px;
    @media only screen and (max-width:767px){
        min-height: 200px;
       }
}

// ========================================================================Services
.service-card{
    overflow: hidden;
    &-img{
        width: 100%;
        height: auto;
        height: 250px;
        object-fit: contain;
        background-color: #f9f9f9;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .service-card-text{
        padding:15px 0px 10px 0px ;
        border-bottom: 1px solid $grey;
        // margin-left: -20px;
        transition: all .5s;
        i{
            font-size: 25px;
            color: $grey;
            opacity: 0;
            transition: all .5s;
        }
    }

    &:hover{
        .service-card-text{
            margin-left: 0px;
            border-bottom: 1px solid $black;
            i{
               opacity: 1;
            }
        }
    }
}

// ============================================================work examples
.challenge-cell {
    border:none !important;
    width: 100%;
    max-width: 500px;
    transform: scale(0.8);
    opacity: .5;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 0px;
    background-color: $grey-light;
    object-fit: contain !important;
}
.outside-left-nav,
.outside-right-nav{
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $primary;
    line-height: 20px;
}
.flickity-button-icon{
    display: none;
}
// =========================================================contact
.contact{
    background-image: url("../images/modern-interior-design-of-apartment--living-room-with-sofa--dining-room--contemporary-home--3d-rendering-1334991953-b58a3ce7cec54d04b641d7113c4f4438.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    @media only screen and (max-width:500px){
        padding: 20px 0px;
    }
    @media only screen and (min-width:1800px){
        height: 70vh;
        min-height: 70vh;
      }
}
.contact-form{
    background-color: white;
    height: 100%;
    border-radius: 4px;
    padding: 40px;
    @media only screen and (max-width:500px){
        padding: 20px ;
    }
}
.contact-input{
    border: none;
    border-bottom: 1px solid $grey !important;
    border-radius: 0px !important ;
}
.contact-input:focus{
    outline: none;
    box-shadow: none;
}

// -==========================================================================Footer
.footer{
    background-color: $black;
    padding: 50px 0px;
    @media only screen and (max-width:500px){
        padding:30px 0px;
    }
}